:root{
    --color-background:#fffcf6;
    --color-card-background:#BCD3B6;
    --color-text-primary:#444;
    --color-text-secondary:#F4FFF5;
    --color-button-background:#444444;
    --color-button-hover-background:#83B097;
}